*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.float_left{
  float: left;
}

body{
  background-image: url(../img/natural-default-pattern.png);
  background-size: contain;
  /* background: lightgrey; */
  padding-top: 20px;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 75%;
  height: 100vh;
  margin: auto;
  /* border: 1px solid black; */
}

#site_header{
  width: 100%;
  height: 25vh;
  background: grey;
  margin: auto;
}

#main_content{
  width: 100%;
  height: 60vh;
  background: darkgrey;
  margin: auto;
}

.column_1{
  width: 20%;
  height: 50%;
  background: lightgrey;
}

.column_2{
  width: 50%;
  height: 40%;
  background: white;
}

.column_3{
  width: 30%;
  height: 90%;
  background: lightgrey;
}

#site_footer{
  width: 100%;
  height: 15vh;
  background: grey;
  margin: auto;
}
